:root{  
    /* 변수 선언 
    **************** FONT VARIABLES **************** 
    <head>에 스크립트 추가: 
        <link rel="stylesheet" href="https://use.typekit.net/mss6mty.css">
    */

    /* font-family */
    --basic-font-family: roboto, sans-serif;
    --logo-font-family: bely, serif;

    /* font-style */
    --logo-font-style:  italic;

    /* font-size */
    --title-font-size: 90px;
    --large-font-size-1: 50px;
    --large-font-size-2: 40px;
    --large-font-size-3: 30px;
    --medium-font-size-1: 26px;
    --medium-font-size-2: 22px;
    --medium-font-size-3: 18px;
    --small-font-size-1: 14px;

    /* **************** COLOR VARIABLES ****************
    */
    /* 메인 요소 컬러 + 배경색  */
    --main-color: #4f6083;
    --main-bg-color: #fafafa;

    /* 요소 배경색 */
    --bg-color-gray: #e1e8ef;   
    --bg-color-lightBlue-1: #f3f4f2;
    --bg-color-lightBlue-2: #ecf3f8;
    --bg-color-blue-1: #AABDD0;
    --bg-color-blue-2: #5e7ca0;

    /* 기타 회색  */
    --ct-color-gray-light: #c5c9ca;
    --ct-color-gray-dark: #717171;

    /* 그림자 속성 */
    --basic-shadow: 0px 3px 6px #00000029;
    --up-basic-shadow: 0px -3px 6px #00000029;
    --bigger-shadow:0px 15px 8px #00000029;

    
}


/* 변수 사용예시  */
/* **************** LOGO FONT Setting **************** 
header .logo{     ->  html 태그에 맞게 수정해서 사용하세요.
    font-family: var(--logo-font-family);
    font-size: var(--large-font-size-1);
    font-style: var(--logo-font-style);
    color: var(--main-color-1);
}
*/





/* **************** BASIC Setting **************** 
*/
* {  
    /* 기본설정 */
    font-family: var(--basic-font-family);
    font-size: var(--medium-font-size-2);
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    /* 뷰포트 크기 설정 */
    width: 1920px;
    /* 색상설정 */
    background-color: var(--main-bg-color);
}






/* **************** ETCs ****************  
- font-family는 로고 제외 Roboto 로 통일 (apple SD -> 이것도 Roboto 로 바꿔주세요)
- 지정한 font-size 변수 외 다른 사이즈는 변수로 지정된 사이즈로 변경해서 작업해주세요
- 이 주석은 한 번 숙지하시고 주석 지우고 작업해주세요.
*/